/* 
CSS stylesheet for the homepage

Contains edu and work sections

edu is column based, work is row based 
*/

#edu {
    padding: 4em 0 2em 0;
    background-color: #7851a9;
    text-align: center;
}

    #edu h1, #edu h2, #edu h3, #edu h4, #edu h5, #edu h6, #edu p, #edu  {
        color: #fff;
    }
    
    #edu .button.special {
        background-color: #ffffff;
        color: #7851a9 !important;
    }

    #edu .button.special:hover {
        background-color: rgba(255, 255, 255, 0.75);
    }

    #edu .head {
        padding: 0em 0 2em 0;
    }

    #edu .inner {
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

        #edu .inner article {
            width: 50%;
        }

            #edu .inner article:first-child {
                padding-right: 4em;
                padding-left: 1em;
            }

            #edu .inner article:last-child {
                padding-right: 1em;
                padding-left: 4em;
            }

    @media screen and (max-width: 800px) {

        #edu {
            padding: 3em 0 1em 0;
        }

            #edu .inner {
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                #edu .inner article {
                    width: 100%;
                }

                    #edu .inner article:first-child {
                        padding-right: 0;
                        padding-bottom: 2em;
                    }

                    #edu .inner article:last-child {
                        padding-left: 0;
                        padding-top: 2em;
                    }

    }

    @media screen and (max-width: 700px) {

        #edu {
            padding: 2em 0 0.1em 0;
        }

    }


#work {
    padding: 4em 0 2em 0;
    background: #f3f3f3;
    background-color: #d5d5d5;
    
    /* background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 ); */
}

    #work .head {
        text-align: center;
        padding: 0em 0 0em 0;
    }

    #work .first {
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 1em;
        padding-top: 3em;
    }

        #work .first article {
            width: 50%;
        }

            #work .first article:first-child {
                padding-right: 2em;
                padding-left: 2em;
            }

            #work .first article:last-child {
                padding-right: 4em;
                padding-left: 2em;
            }

    #work .second {
        background: #e0e0e0;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 1em;
        padding-top: 3em;
    }

        #work .second article {
            width: 50%;
        }

            #work .second article:first-child {
                padding-right: 2em;
                padding-left: 4em;
            }

            #work .second article:last-child {
                padding-right: 2em;
                padding-left: 2em;
            }

    @media screen and (max-width: 980px) {

        #work {
            padding: 4em 0 2em 0;
        }

            #work .first {
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                #work .first article {
                    width: 100%;
                }

                    #work .first article:first-child {
                        padding-right: 0;
                        padding-bottom: 2em;
                    }

                    #work .first article:last-child {
                        padding-left: 0;
                        padding-top: 2em;
                    }

            #work .second {
                background: #e0e0e0;
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                #work .second article {
                    width: 100%;
                }

                    #work .second article:first-child {
                        padding-right: 0;
                        padding-bottom: 2em;
                    }

                    #work .second article:last-child {
                        padding-left: 0;
                        padding-top: 2em;
                    }
    }

    @media screen and (max-width: 736px) {

        #work {
            padding: 2em 0 0.1em 0;
        }

    }

/* Banner */

#banner {
    background-color: #7851a9;
    color: #f2a3a5;
    padding: 13em 0 11em 0;
    background-color: #dadada;
    background-image: url("../../pics/rocket_loading.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: left;
    position: relative;
    z-index: 9999;
}

    #banner input, #banner select, #banner textarea {
        color: #ffffff;
    }

    #banner a {
        color: #ffffff;
    }

    #banner strong, #banner b {
        color: #ffffff;
    }

    #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #fff;
    }

    #banner blockquote {
        border-left-color: #fff;
    }

    #banner code {
        background: none;
        border-color: #fff;
    }

    #banner hr {
        border-bottom-color: #fff;
    }

    #banner:after {
        -moz-transition: opacity 2s ease;
        -webkit-transition: opacity 2s ease;
        -ms-transition: opacity 2s ease;
        transition: opacity 2s ease;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        background-color: #0c0c0c;
        opacity: 0.25;
    }

    #banner .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
        z-index: 10000;
        line-height: 1.5;
    }

        @media screen and (max-width: 480px) {

            #banner .inner {
                max-width: 90%;
                width: 90%;
            }

        }

    #banner h1 {
        font-size: 2em;
        margin: 0 0 1em 0;
        padding: 0;
        letter-spacing: 3px;
        font-weight: 700;
    }

        #banner h1 span {
            font-weight: 400;
        }

    body.is-loading #banner:after {
        opacity: 1;
    }

    @media screen and (max-width: 1680px) {

        #banner {
            padding: 10em 0 8em 0;
        }

    }

    @media screen and (max-width: 1280px) {

        #banner {
            padding: 8em 0 6em 0;
        }

    }

    @media screen and (max-width: 980px) {

        #banner {
            padding: 12em 0 10em 0;
        }

            #banner br {
                display: none;
            }

    }

    @media screen and (max-width: 736px) {

        #banner {
            padding: 4em 0 2em 0;
        }

            #banner h1 {
                font-size: 1.75em;
            }

    }

    @media screen and (max-width: 480px) {

        #banner {
            padding: 5em 0 3em 0;
        }

            #banner ul {
                margin-top: 1em;
            }

    }

/* Footer */

#footer {
background-color: #7851a9;
color: #f2a3a5;
padding: 13em 0 11em 0;
background-color: #0c0c0c;
background-image: url("../../pics/Cheetah.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: 15% left;
text-align: center;
position: relative;
z-index: 9999;
}

#footer input, #footer select, #footer textarea {
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer strong, #footer b {
    color: #ffffff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #fff;
}

#footer blockquote {
    border-left-color: #fff;
}

#footer code {
    background: none;
    border-color: #fff;
}

#footer hr {
    border-bottom-color: #fff;
}

#footer:after {
    -moz-transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    transition: opacity 2s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: 0.25;
}

#footer .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    line-height: 1.5;
}

    @media screen and (max-width: 480px) {

        #footer .inner {
            max-width: 90%;
            width: 90%;
        }

    }

#footer h1 {
    font-size: 2em;
    margin: -2em 0 5em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 700;
}

    #footer h1 span {
        font-weight: 400;
    }

body.is-loading #footer:after {
    opacity: 1;
}

@media screen and (max-width: 1680px) {

    #footer {
        padding: 10em 0 8em 0;
    }

}

@media screen and (max-width: 1280px) {

    #footer {
        padding: 8em 0 6em 0;
    }

}

@media screen and (max-width: 980px) {

    #footer {
        padding: 12em 0 10em 0;
    }

        #footer br {
            display: none;
        }

}

@media screen and (max-width: 736px) {

    #footer {
        padding: 4em 0 2em 0;
    }

        #footer h1 {
            font-size: 1.75em;
        }

}

@media screen and (max-width: 480px) {

    #footer {
        padding: 5em 0 3em 0;
    }

        #footer ul {
            margin-top: 1em;
        }

}