/* 
css stylesheet for the projects page
*/

#projects {
    padding: 3em 0 0em 0;
    background: #f3f3f3;
    background-color: #d5d5d5;

    /* background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 ); */
}

    #projects .grayhead {
        padding: 2em 0 1em 0;
        background: #d5d5d5;
        text-align: center;
    }

    #projects .lighthead {
        padding: 2em 0 1em 0;
        background: #e0e0e0;
        text-align: center;
    }

    #projects .graybody {
        background: #d5d5d5;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: calc(20%);
        padding-left: calc(20%);
        padding-bottom: 1em;
        padding-top: 1em;
    }

        #projects .graybody article {
            width: 50%;
        }

            #projects .graybody article:first-child {
                padding-right: 3em;
                padding-left: 3em;
                text-align: center;
            }

            #projects .graybody article:last-child {
                padding-right: 3em;
                padding-left: 3em;
            }

    #projects .lightbody {
        background: #e0e0e0;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-right: calc(20%);
        padding-left: calc(20%);
        padding-bottom: 1em;
        padding-top: 1em;
    }

        #projects .lightbody article {
            width: 50%;
        }

            #projects .lightbody article:first-child {
                padding-right: 3em;
                padding-left: 3em;
                text-align: center;
            }

            #projects .lightbody article:last-child {
                padding-right: 3em;
                padding-left: 3em;
            }

    @media screen and (max-width: 1800px) {

        #projects {
            /* padding: 2em 0 0.1em 0; */
        }

            #projects .graybody {
                padding: 2em 5em 0 5em;
            }

            #projects .lightbody {
                padding: 2em 5em 0 5em;
            }
    
    }
                    
    @media screen and (max-width: 980px) {

        #projects {
            padding: 4em 0em 2em 0em;
            text-align: center;
        }

            #projects .graybody {
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                
            }

                #projects .graybody article {
                    width: 100%;
                }

                    #projects .graybody article:first-child {
                        padding-right: 0em;
                        padding-left: 0em;
                        padding-bottom: 2em;
                    }

                    #projects .graybody article:last-child {
                        padding-right: 0em;
                        padding-left: 0em;
                        padding-top: 2em;
                    }

            #projects .lightbody {
                background: #e0e0e0;
                -moz-flex-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                #projects .lightbody article {
                    width: 100%;
                }

                    #projects .lightbody article:first-child {
                        padding-right: 0em;
                        padding-left: 0em;
                        padding-bottom: 2em;
                    }

                    #projects .lightbody article:last-child {
                        padding-right: 0em;
                        padding-left: 0em;
                        padding-top: 2em;
                    }
    }

    @media screen and (max-width: 736px) {

        #projects {
            padding: 2em 0 0.1em 0;
            text-align: center;
        }

            #projects .graybody {
                padding: 2em 0 0 0;
            }

            #projects .lightbody {
                padding: 2em 0 0 0;
            }

    }

      